<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mydbz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07F4D14A1E5422560072AFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F4D1611E5422570072AFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F4D16C1E5422570072AFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
