<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>numbergame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0781F9921E4BDD0C000ECF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0781F9A61E4BDD0C000ECF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0781F9B11E4BDD0C000ECF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
