<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07F0FCE61E574E0B008410C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F0FCFD1E574E0B008410C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F0FD081E574E0B008410C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
